.heading-primary {
  font-size: 3.8rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;

  margin-bottom: 0.6rem;
}

.hero-description {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 1.8rem;
}

.gallery-section {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero-gallery.jpg");
  background-size: 100% 100%;

  background-repeat: no-repeat;
}
.hero {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 13rem;
}
.hero-img {
  width: 86%;
  height: 66vh;
  object-fit: cover;
  border-radius: 1.2rem;
}

/* OUR gallery  */
.section--image-containe{
  padding: 3.4rem 3rem;
}


.section--image-containe .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.6rem;
  column-gap: 0.2rem;
  padding: 2.6rem;
}
.section--image-containe .gallery-img {
  overflow: hidden;
}

.gallery--col-img  {
  grid-row: 1 / span 3;
}
 .gallery--col-img img{
  display: block;
  object-fit: cover;
   height: 86vh;
 
}
.section--image-containe .gallery-img img {
  display: block;
  object-fit: cover;
  width: 80%;
  height: 25vh;

  transition: all 0.4s;
}


/* Video  */

.section-video {
  background-color: #ece7da;
  padding: 3.4rem 3rem;
  
}

.video-box{text-align: center;
  
}
.video{
  width: 50%;
  height: 60vh;
}

