@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
  overflow-x: hidden;
}

/* HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ece7da;
  height: 7.3rem;
  padding: 0 4.8rem;

  position: relative;
}
.logo {
  height: 4.1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
}

.btn--mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.icon-nav {
  height: 3.4rem;
  width: 3.4rem;
}
.icon-nav[name="close-outline"] {
  display: none;
}
/* Hero section  */

.section-hero {
  padding: 1.6rem 0 0 6rem;
}

/*  */
.grid {
  display: grid;
  columns: 6.4rem;
  row-gap: 2.2rem;
}
.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.container {
  max-width: 110rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-secondary {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 2.3rem;
}

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}

.grid--center {
  align-items: center;
}

.sticky {
  position: fixed;
  background-color: rgba(236, 231, 218, 0.95);
  z-index: 2;
  width: 100vw;
  height: 14vh;
}

.footer {
  padding: 3.4rem 3rem;
  
}

.footer-heading{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.footer-nav{
 
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 1.3rem;
}
.footer-link:link,.footer-link:visited{
  text-decoration: none;  color: #404040;
  font-size: 0.9rem;
  font-weight: 600;
}

.icon-link{
  list-style: none;
  display: flex;
  gap: 1.3rem;

}
.copyright{
  text-align: center;
  padding-top: 4.3rem;
}
